.manage-user-content {
    padding: 24px;
  }
  
  .manage-user-container {
    background: #fff;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  }
  
  .spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Adjust as needed */
  }
  /* Add spacing for action buttons */
.action-buttons {
  display: flex;
  gap: 8px; /* Adjust the gap as needed */
}