.fedutoy-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  width: 100%;
  transition: all 0.3s ease;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1);

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 3.125rem 18.125rem;
  background-color: #ffffff;

  .logo {
    display: flex;
    align-items: center;
    margin-right: 3.125rem;
    margin-top: 1.188rem;

    img {
      height: 6.563rem;
    }
  }

  .input {
    width: 100%;
  }

  .search {
    max-width: 34.375rem;

    .ant-input {
      height: 3.438rem;
      font-size: 1.125rem;
      padding: 0 0.938rem;
      border-radius: 0.313rem 0 0 0.313rem;
    }

    .ant-input-search-button {
      height: 3.438rem;
      font-size: 1.125rem;
      padding: 0 1.25rem;
      border-radius: 0 0.313rem 0.313rem 0;
      color: white;

      &:hover {
        background-color: darken(#1677ff, 10%);
      }
    }
  }

  .shopee-menu {
    background-color: transparent;
    line-height: 4rem;
    margin-left: 1.25rem;

    a {
      color: white;
    }

    .ant-btn-primary {
      background-color: white;
      color: #fb5533;
      border: none;

      &:hover {
        background-color: #ffd5d0;
        color: #fb5533;
      }
    }
  }

  @media (max-width: 1160px) {
    padding: 0 3.125rem;

    .logo img {
      height: 4.063rem;
    }

    .search {
      width: 60%;
      padding-left: 0.625rem;
      max-width: 75rem;
    }

    .shopee-menu {
      margin-left: 0.313rem;
    }

    .ant-btn {
      font-size: 0.875rem;
    }
  }

  @media (max-width: 840px) {
    padding: 0 1.875rem;

    .logo img {
      height: 4.063rem;
    }

    .search {
      width: 50%;
      padding-left: 0;
      max-width: auto;
    }

    .shopee-menu {
      margin-left: 0.313rem;
      line-height: 3.125rem;
    }

    .ant-btn {
      font-size: 0.875rem;
    }
  }

  @media (max-width: 750px) {
    padding: 0 1.875rem;

    .logo img {
      height: 4.063rem;
    }

    .search {
      width: 40%;
      padding-left: 0;
      max-width: auto;
    }

    .shopee-menu {
      margin-left: 0.313rem;
      line-height: 3.125rem;
    }

    .ant-btn {
      font-size: 0.875rem;
    }
  }

  @media (max-width: 550px) {
    padding: 0 1.875rem;

    .logo img {
      height: 4.063rem;
    }

    .search {
      width: auto;
      padding-left: 0;
      max-width: 8.75rem;
    }

    .shopee-menu {
      margin-left: 0.313rem;
      line-height: 3.125rem;
    }

    .ant-btn {
      font-size: 0.875rem;
    }
  }
}

.secondary-header {
  background-color: #0056b3;
  color: #ffffff;
  margin-top: 6.25rem;
  position: sticky;
  top: 0;
  z-index: 900;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);

  .ant-menu-horizontal {
    border-bottom: none;
    padding: 0;
    background: none;
    line-height: 3.75rem;

    .ant-menu-item {
      background-color: transparent;
      color: #ffffff;
      flex: 1;
      text-align: center;
      font-weight: 600;
      transition: color 0.3s ease;

      &:hover {
        color: #d1e0ff;
        background-color: rgba(0, 0, 0, 0.05);
      }

      &.ant-menu-item-selected {
        color: #ffcc00;
        background-color: rgba(0, 0, 0, 0.1);
      }
    }
  }

  .menu-left {
    display: flex;
    align-items: center;
    height: 100%;
    flex-wrap: wrap; /* Để các mục có thể xuống dòng khi không đủ chỗ */

    .categories-menu-item {
      margin-right: 1.25rem;
      padding: 0 1.25rem;
      color: #ffffff;
      position: relative;

      &::after {
        content: "";
        display: block;
        width: 0.063rem;
        height: 100%;
        background-color: #ffffff;
        position: absolute;
        right: -0.625rem;
        top: 0;
      }

      &:last-child {
        &::after {
          display: none;
        }
      }

      &:hover {
        color: #d1e0ff;
        background-color: transparent;
      }
    }
  }

  /* Responsive adjustments */
  @media (max-width: 1024px) {
    .menu-left {
      justify-content: space-around; /* Căn đều các mục khi màn hình nhỏ hơn */
      flex-wrap: wrap;
    }

    .categories-menu-item {
      flex: 1 1 45%; /* Chỉnh kích thước các mục xuống 45% chiều rộng */
      text-align: center;
      margin-right: 0.625rem;
      padding: 0.625rem;
    }
  }

  @media (max-width: 768px) {
    .menu-left {
      justify-content: center;
      padding: 0.625rem 0;
    }

    .categories-menu-item {
      flex: 1 1 100%; /* Cho mỗi mục chiếm toàn bộ chiều rộng khi trên màn hình nhỏ */
      margin: 0.313rem 0;
      padding: 0.5rem;
    }
  }
}



// .main-content {
//   margin-top: 4.375rem;
// }

.product-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(12.5rem, 1fr));
  gap: 1.25rem;
  padding: 1.25rem;
}

.product {
  background-color: #fff;
  border: 0.001rem solid rgba(18, 3, 3, 0.1);
  border-radius: 0.5rem;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: all 0.3s ease;
  padding: 0.625rem;

  &:hover {
    transform: translateY(-0.313rem);
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.15);
  }

  img {
    width: 100%;
    max-height: 100%;
    object-fit: cover;
    border-radius: 0.25rem;
  }

  h3 {
    font-size: 1rem;
    color: #333;
    margin: 0.625rem 0;
    height: 2.5rem;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  p {
    font-size: 0.875rem;
    color: #999;
    margin: 0.313rem 0;
  }

  .price {
    font-size: 1rem;
    color: #ff5722;
    font-weight: bold;
  }

  button {
    background-color: #ff5722;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    cursor: pointer;
    margin-top: 0.625rem;
    font-size: 0.875rem;

    &:hover {
      background-color: #e64a19;
    }
  }
}


